@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/root/root.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__block/profile__block.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__block/element__block.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like/element__like.css);

@import url(./blocks/footer/footer.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__body/popup__body.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__title/popup__title.css);

@import url(./blocks/active/active.css);


/* .root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #000;
    max-width: 1280px;
}

.page {
    margin: 0 auto;
    max-width: 880px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    position: relative;
} */

/* .header {
    margin-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid #545454;
    max-width: 880px;
}

@media (max-width: 679px) {
    .header {
        margin-top: 28px;
        padding-bottom: 31px;
        max-width: 320px;
    }
} */

/* .content {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 880px;
}

@media (max-width: 679px) {
    .content {
        max-width: 320px;
    }
} */

/* .profile {
    margin: 40px auto 50px;
    max-height: 120px;
    display: grid;
    grid-template-columns: 120px auto 150px;
}

@media (max-width: 679px) {
    .profile {
        margin-top: 42px;
        margin-bottom: 36px;
        grid-template-columns: 282px;
        justify-items: center;
        max-height: 286px;
    }
}

.profile__name {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media (max-width: 899px) {
    .profile__name {
        font-size: 35px;
        line-height: 41px;
    }
}
@media (max-width: 679px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

.profile__info {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    align-self: center;
}

@media (max-width: 679px) {
    .profile__info {
        margin-top: 26px;
    }
}

.profile__block {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    display: flex;
}

.profile__add-button {
    margin: auto;
    padding: 0;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: #000000;
}

@media (max-width: 679px) {
    .profile__add-button {
        width: 100%;
        margin-top: 36px;
    }
}

.profile__about {
    margin: 0;
    padding: 0;
    max-width: 336px;
    margin-left: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 899px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}
@media (max-width: 679px) {
    .profile__about {
        margin-top: 7px;
        margin-left: 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}
.profile__edit-button {
    margin-left: 18px;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: #000;
    background-image: url(./images/profile-edit.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}

@media (max-width: 679px) {
    .profile__edit-button {
        margin-left: 9px;
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}
.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;

} */
/* .elements {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
}

@media (max-width: 899px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 679px) {
    .elements {
        grid-template-columns: 1fr;
    }
}

.element {
    margin: 0 auto;
    width: 282px;
    height: 362px;
    background-color: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
}

.element__block {
    margin: 0 auto;
    padding: 0px 15px 0px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.element__like {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(./images/element-like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(28, 28, 28, 0);
}

.element__image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 282px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

/* .footer {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    margin-top: 66px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media (max-width: 680px) {
    .footer {
        margin-top: 48px;
    }
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.popup_opened {
    display: block;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 679px) {
    .popup__body {
        align-items: flex-start;
        margin-top: 123px;
    }
}

.popup__container {
    position: relative;
    width: 430px;
    height: 330px;
    background-color: #fff;
    border-radius: 10px;
    color:#000;
}

@media (max-width: 679px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}

.popup__close-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -35px;
    right: -35px;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url(./images/popup-close.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(28, 28, 28, 0);
}


.popup__title {
    margin: 34px 0 0 36px;
    padding: 0;
    max-width: 330px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px; 
    text-align: center;
}

@media (max-width: 679px) {
    .popup__title {
        margin: 25px auto 0 auto;
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__form {
    margin: 0;
    padding: 0;
    margin-top: 58px;
    display: grid;
    gap: 30px;
    justify-content: center;
}
.popup__input {
    margin: 0;
    padding: 0;
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

@media (max-width: 679px) {
    .popup__input {
        width: 238px;
    }
}

.popup__save-button {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius:  2px;
    border: none;
}

@media (max-width: 679px) {
    .popup__save-button {
        margin-top: 15px;
    }
}

.active:hover {
    opacity: 60%;
    transition: opacity .5s ease;
    cursor: pointer;
} */